.menu__link--active {
  color: #B4FF68;
}
:root {
  --ifm-color-primary-dark: #B4FF68;
  --ifm-color-primary: #B4FF68;
  --ifm-menu-color-active: #B4FF68;
  --aa-primary-color-rgb: #B4FF68 !important;
  --aa-text-color-rgb: #B4FF68 !important;
  --aa-text-color-rgb: #B4FF68 !important;
}


a {
  color: #B4FF68;
}

a:hover {
  color: #B4FF68;
}

.breadcrumbs__item--active .breadcrumbs__link {
  color: #B4FF68;
}

.aa-DetachedSearchButton {
  color: #B4FF68 !important;
}
.aa-DetachedSearchButtonIcon {
  color: #B4FF68 !important;
}
